<div class="container">
    <h3 mat-dialog-title>Esta Seguro?</h3>
    <div mat-dialog-content>
      <ul class="clearfix">
        <li>
          <p><span class="font-weight-bold"> Tarea: </span>{{data.nombre_tarea}}</p>
        </li>
        <li>
          <p><span class="font-weight-bold"> Asignado a: </span>{{ data.nombre_asignado }}</p>
        </li>
        <li>
          <p>
            <span class="font-weight-bold">Estado: </span>
            {{ data.estado ? 'Completa' : 'Por completar' }}
          </p>
        </li>
      </ul>
    </div>
    <div mat-dialog-actions class="mb-1">
      <button mat-flat-button color="warn"  (click)="confirmDelete()">
        Eliminar
      </button>
      <button mat-flat-button color="accent" (click)=" onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </div>